<script type="text/ng-template" id="editItem.html">
    <div class="modal-header">
        <h3 class="modal-title">Editar Item</h3>
    </div>
    <div class="modal-body" id="modal-body-edit">
        <div>
            <label class="labelEdit">Id: </label>
            <input class="inputEdit" type="text" ng-value="item.id" ng-model="itemToEdit.id" disabled="disabled" />
        </div>
        <div>
            <label class="labelEdit">Marca: </label>
            <input class="inputEdit" type="text" ng-value="item.marca" ng-model="itemToEdit.marca" />
        </div>
        <div>
            <label class="labelEdit">Modelo: </label>
            <input class="inputEdit" type="text" ng-value="item.modelo" ng-model="itemToEdit.modelo" />
        </div>
        <div>
            <label class="labelEdit">Precio ($us): </label>
            <input class="inputEdit" type="text" ng-value="item.precio" ng-model="itemToEdit.precio" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="edit()">Editar</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancelar</button>
    </div>
</script>

<div>
    <ul>
        <li><a id="computadora" href="" ui-sref="home({itemType: 'computadora'})">Computadoras</a></li>
        <li><a id="celular" href="" ui-sref="home({itemType: 'celular'})">Celulares</a></li>
    </ul>
</div>
<div>
    <table ts-wrapper>
        <thead>
            <tr>
                <th ts-criteria="Id" ts-default>
                    <a href="#" ng-click="orderByField='id'; reverseSort = !reverseSort">Id<span ng-show="orderByField == 'id'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
                </th>
                <th ts-criteria="Marca|lowercase" ts-default>
                    <a href="#" ng-click="orderByField='marca'; reverseSort = !reverseSort">Marca<span ng-show="orderByField == 'marca'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
                </th>
                <th ts-criteria="Modelo|lowercase" ts-default>
                    <a href="#" ng-click="orderByField='modelo'; reverseSort = !reverseSort">Modelo<span ng-show="orderByField == 'modelo'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
                </th>
                <th ts-criteria="Precio|parseFloat">
                    <a href="#" ng-click="orderByField='precio'; reverseSort = !reverseSort">Precio ($us)<span ng-show="orderByField == 'precio'"><span ng-show="!reverseSort">^</span><span ng-show="reverseSort">v</span></span></a>
                </th>
                <th>
                    <a href="#">Opciones</a>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="item in $ctrl.items | filter: $ctrl.search | orderBy:orderByField:reverseSort" ts-repeat>
                <td>{{item.id}}</td>
                <td>{{item.marca}}</td>
                <td>{{item.modelo}}</td>
                <td>{{item.precio | currency}}</td>
                <td>
                    <input type="button" value="Editar" class="btn btn-primary" ng-click="$ctrl.editarRow(item)" />
                    <input type="button" value="Remover" class="btn btn-warning" ng-click="$ctrl.removerRow(item)" />
                </td>
            </tr>
        </tbody>
    </table>
    </table>
</div>